PROJECT_NAME=deka-eventcover
PUBLIC_APP_URL=http://localhost:5173
PARTICIPANT_APP_URL=http://localhost:5173
FRONTEND_APP_URL=http://localhost:5173
BACKOFFICE_APP_URL=http://localhost:5174
API_URL=http://localhost:4000
