NODE_ENV=development
PORT=4000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=deka_eventcover
DB_USER=postgres
DB_PASSWORD=postgres
DB_DIALECT=postgres

PUBLIC_APP_URL=http://localhost:5173
BACKOFFICE_APP_URL=http://localhost:5174

MEDIA_ROOT=uploads
MAX_UPLOAD_MB=25
JWT_SECRET=replace-with-a-long-random-secret

ADMIN_FULL_NAME=Administrateur
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change-this-password
